@import "../bower/bootstrap/less/bootstrap.less";
@import "../bower/fontawesome/less/font-awesome.less";
@fa-font-path: "https://netdna.bootstrapcdn.com/font-awesome/4.5.0/fonts";

@import "widgets/backgrounds.less";
@import "template/extra.less";
@import "template/variables.less";

@font-size-base: 14px;

div.page { 
  page-break-before: always;
  .clearfix();
  margin: 0 .1in;
  position: relative;
}

.page-header {
  padding-top: 1em;
  margin-bottom: 0;
}

.box {
  body > & {
    margin: 0 .1in;
  }
  margin: 0;
  padding: .125in .2in;
  color: #fff;
}

.nomargin {
  margin: 0 !important;
}

.displaytable {
  width: 100%;
  max-width: 100%;
  td {
    padding: .125in .1in;
    .text-ellipsis;
  }
  td:first-of-type {
    padding-left: .2in;
  }
  td:last-of-type {
    padding-right: .2in;
  }
}