<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <style type="text/css" media="all">
    {% asset_source pdf.css %}
  </style>
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="box bg-dark" style="margin-bottom:-100px">
    <div class="row">
      <div class="col-xs-9">
        <div class="h3 media-heading text-ellipsis">{{ page.title }}</div>
        <span class="h4 nomargin"><strong>&pound;{{ page.price | number_format }}</strong></span> &nbsp;
        <span class="lead nomargin">
          <i class="fa fa-tachometer"></i> {{ page.mileage | number_format }} miles &nbsp;
          <i class="fa fa-clock-o"></i> {{ page.model_year }}
        </span>
      </div>
      <div class="col-xs-3 text-right">
        <img src="{% img_base64 logo.png magick:resize:x50 %}" alt="" />
      </div>
    </div>
  </div>
</body>
</html>