@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
    }
}
.filter-sort {
    margin-bottom:20px; 
    label {
        vertical-align: middle;
    }
}
@media (min-width: 768px) {
    a.thumbnail .name {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.filter-sort .select2-container--default .select2-selection--single .select2-selection__rendered {
    text-transform: uppercase;
}