.banner {
    max-height: 100%;
    .rel;
    .img-bg;
    background-size: 100%;
    .img-fixed;
        
    h1 {
        font-size: 48px;
    }
}
.banner-content {
    height: 0;
    padding-bottom: 56.25%;
    min-height: 300px;
}
.submenu {
    position:absolute; 
    padding: 8px 0; 
    bottom: 0; 
    width: 100%; 
    background: rgba(255,255,255,0.85);
    &.affix {
        top: @navbar-height;
        position: fixed; 
        bottom: auto; 
        z-index: @zindex-navbar-fixed;
    }
    li a {
        color: #000;
    }
}
.banner-text {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    padding: 30px 15px 30px; 
    background: rgba(255,255,255,0.75);
    float: left;
    clear: left;
    position: relative;
    margin: @navbar-height 0 0 -1000px;
    padding-left: 1000px;
}
.banner-text:after {
    opacity: .75;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 200px;
    background: url(/assets/corner_white.png) left bottom;
}
.list-features {
  .list-unstyled;
  padding-left: 1.5em;
  position: relative;
  li:before {
    .fa;
    content: "\f00c";
    position: absolute;
    left: 0;
    margin-top: 3px;
  }
}