.banner {
    max-height: 100%;
    .rel;
    .img-bg;
    background-size: 100%; 
    .img-fixed;
}
.banner-content {
    height: 0;
    padding-bottom: 56.25%;
    min-height: 300px;
}
.banner-text {
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: @navbar-height;
    padding: 30px 0 30px; 
       
    h1 { 
        margin: 0;
    } 
    @media screen and (min-width: 768px) {
        h1 {
            font-size: 60px;
        }
    }
}
.submenu {
    position:absolute; 
    padding: 8px 0; 
    bottom: 0; 
    width: 100%; 
    background: rgba(255,255,255,0.85);
    &.affix {
        top: @navbar-height;
        position: fixed; 
        bottom: auto; 
        z-index: @zindex-navbar-fixed;
    }
    a {
        color: #000;
    }
}
.banner-text {
    padding-top: 60px;
  }
  .banner-text h1 {
    background: #0DAAFF;
    float: left;
    clear: left;
    position: relative;
  }
  .banner-text h1:before,.banner-text h1:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
  }
  .banner-text h1:before {
    background: #0DAAFF;
    right: 100%;
    left: -1000px;
    height: 100%;
  }
  .banner-text h1:after {
    left: 100%;
    border-top: 33px solid #0DAAFF;
    border-right: 33px solid transparent;
    border-bottom: 33px solid transparent;
    border-left: 33px solid #0DAAFF;
  }
  .banner-text span {
    font-size: 32px;
    background: #FF3900;
    float: left;
    clear: left;
    position: relative;
  }
  .banner-text span:before,.banner-text span:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
  }
  .banner-text span:before {
    background: #FF3900;
    right: 100%;
    left: -1000px;
    height: 100%;
    
  }
  .banner-text span:after {
    left: 100%;
    border-top: 23px solid #FF3900;
    border-right: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 22px solid #FF3900;
  }