---
layout: default
---
{% assign img_path = page.image | remove_first: '_media/' %}
{% if assets[img_path] %}
{% include modules/banner.html %}
{% else %}
{% assign class = 'section-page' %}
{% endif %}
<div class="section {{ class }}" id="content">
  <div class="container">
    <article class="section-content">{% include template/content.html %}</article>
  </div>
</div>
{% for item in page.highlights %}
<div class="col-sm-3">
  <span class="fa-stack fa-5x">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-{{ item.ico }} fa-stack-1x fa-inverse"></i>
  </span>
  <h3 class="text-center">{{ forloop.index }}. {{ item.heading }}</h3>
  <p>{{ item.text }}</p>
</div>
{% endfor %}