---
layout: default
class: section container container-sm
---
{% for a in site.authors %}{% if a.title == page.author %}{% assign author = a %}{% endif %}{% endfor %}
<div class="section container container-sm" id="content">
  <article>
    <header class="article-header">
      <h1 class="section-header">{{ page.title }}</h1>
      {% assign providers = site.sharing.provider | join: "," %}
      {% widget donshare params=site.sharing providers=providers %}
      {% assign img = page.image | remove_first: '_media/' %}
      {% if assets[img] %}
      {% img '{{ img }}' magick:resize:849^x445 magick:gravity:center magick:crop:849x445+0+0 watermark:watermark:1 image_optim:optimize:1 alt:'{{ page.title }}' class:img-responsive %}
      {% endif %}
      <div class="article-info">
        <!--a href="{{ site.baseurl }}{{ author.url }}" rel="author" class="avatar"-->
        <div class="avatar">
          {% capture src %}people/{{ author.slug }}.jpg{% endcapture%}
          {% if assets[src] %}
          {% img '{{src}}' magick:resize:120^x120 magick:gravity:center magick:crop:120x120+0+0 image_optim:optimize:1 class:img-thumbnail alt:'{{ page.author }}' %}
          {% endif %}
          <span class="h5">By {{ page.author }}</span>
        </div>
        <!--/a-->
  	<time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_string }}</time>
      </div>
    </header>
    <div class="article-content">{{ content }}
      <small>Posted in <a href="{{ site.baseurl }}/{{ page.categories | join: '/' }}">{{ page.categories | last | capitalize  }}</a></small>
    </div>

  </article>
  <hr>
  <div id="disqus_thread"></div>
</div>
