---
layout: default
specs: 
  - 
    field: make_country 
    label: Country of Origin
  - 
    field: make_display 
    label: Make
  - 
    field: model_body 
    label: Body Style
  - 
    field: model_name 
    label: Model
  - 
    field: model_trim 
    label: Trim
  - 
    field: model_year 
    label: Year
  - 
    field: model_engine_position 
    label: Engine Location
  - 
    field: model_engine_type
    label: Engine Type
  - 
    field: model_engine_cyl 
    label: Engine Cylinders
  - 
    field: model_engine_cc 
    label: Engine Displacement (cc)
  - 
    field: model_engine_l 
    label: Engine Displacement (l)
  - 
    field: model_engine_ci
    label: Engine Displacement (cubic inches)
  - 
    field: model_engine_bore_mm
    label: Engine Bore (mm)
  - 
    field: model_engine_bore_in 
    label: Engine Bore (in)
  - 
    field: model_engine_stroke_mm 
    label: Engine Stroke (mm)
  - 
    field: model_engine_stroke_in
    label: Engine Stroke (in)
  - 
    field: model_engine_valves_per_cyl 
    label: Engine Valves Per Cylinder
  - 
    field: model_engine_valves 
    label: Engine Valves
  - 
    field: model_engine_power_hp 
    label: Engine Max Power (HP)
  - 
    field: model_engine_power_ps 
    label: Engine Max Power (PS)
  - 
    field: model_engine_power_kw 
    label: Engine Max Power (kW)
  - 
    field: model_engine_power_rpm 
    label: Engine Max Power RPM
  - 
    field: model_engine_torque_nm 
    label: Engine Max Torque (Nm)
  - 
    field: model_engine_torque_lbft
    label: Engine Max Torque (Lb-Ft)
  - 
    field: model_engine_torque_kgm 
    label: Engine Max Torque (kgf-m)
  - 
    field: model_engine_torque_rpm 
    label: Engine Max Torque RPM
  - 
    field: model_engine_compression
    label: Engine Compression Ratio
  - 
    field: model_engine_fuel
    label: Engine Fuel Type
  - 
    field: model_drive
    label: Drive
  - 
    field: model_transmission_type
    label: Transmission Type
  - 
    field: model_top_speed_kph
    label: Top Speed (KPH)
  - 
    field: model_top_speed_mph
    label: Top Speed (MPH)
  - 
    field: model_0_to_100_kph
    label: 0-100 kph (0-62mph)
  - 
    field: model_doors
    label: Doors
  - 
    field: model_seats 
    label: Seats
  - 
    field: model_weight_kg 
    label: Weight (kg)
  - 
    field: model_weight_lbs
    label: Weight (lbs)
  - 
    field: model_length_mm
    label: Length (mm)
  - 
    field: model_length_in
    label: Length (in)
  - 
    field: model_width_mm 
    label: Width (mm)
  - 
    field: model_width_in 
    label: Width (in)
  - 
    field: model_height_mm 
    label: Height (mm)
  - 
    field: model_height_in
    label: Height (in)
  - 
    field: model_wheelbase_mm 
    label: Wheelbase (mm)
  - 
    field: model_wheelbase_in 
    label: Wheelbase (in)
  - 
    field: model_lkm_city 
    label: Fuel Economy City (l/100km)
  - 
    field: model_mpg_city 
    label: Fuel Economy City (mpg)
  - 
    field: model_lkm_hwy 
    label: Fuel Economy HWY (l/100km)
  - 
    field: model_mpg_hwy 
    label: Fuel Economy HWY (mpg)
  - 
    field: model_lkm_mixed 
    label: Fuel Economy Mixed (l/100km)
  - 
    field: model_mpg_mixed 
    label: Fuel Economy Mixed (mpg)
  - 
    field: model_fuel_cap_l 
    label: Fuel Capacity (l)
  - 
    field: model_fuel_cap_g 
    label: Fuel Capacity (g)
---
{% if page.image %}{% capture image %}{% assign img = page.image | remove_first: '_media/' | img: "magick:crop:1920x1080+0+0" | split: '"' %}{{ img[1] }}{% endcapture %}{% endif %}
<div class="banner" {% if page.image %}style="background-image:url({{ image }});"{% endif %}>
  <div class="banner-content">
    <div class="banner-text">
      <div class="container rel">
        <h1>{{ page.title | markdownify | strip_html }}</h1>
        <span>&pound;{{ page.price | money }}</span>
      </div>
    </div>
  </div>
  <div class="banner-menu">
    <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <ul class="nav nav-pills">
          <li><a href="#"><i class="fa fa-info-circle"></i> Details</a></li>
          <li><a href="#"><i class="fa fa-camera"></i> Photos</a></li>
          <li><a href="#"><i class="fa fa-money"></i> Finance</a></li>
        </ul>
      </div>
      <div class="col-sm-4 text-right">
        <a href="#" class="btn btn-primary btn-lg">Enquire Now</a>
      </div>
    </div>
    </div>
  </div>
  <a class="arrow-down" href="#content">
    <span class="fa fa-chevron-down"></span>
  </a>
</div>
 
<div class="section well" id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-fw fa-clock-o fa-3x"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading h5">Year</h4>
            <b class="h4">1998</b>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-fw fa-tachometer fa-3x"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading h5">Mileage</h4>
            <b class="h4">20,000</b>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-fw fa-paint-brush fa-3x"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading h5">Colour</h4>
            <b class="h4">{{ page.colour | capitalize }}</b>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-fw fa-gbp fa-3x"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading h5">Price</h4>
            <b class="h4">{{ page.price }}</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <article class="section-content">{% include template/content.html %}</article>
      </div>
      <div class="col-sm-4">
        <table class="table table-striped">
        <tbody>
          <tr>
            <td>Country of Origin:</td>
            <td>Italy</td>
          </tr>
          <tr>
            <td>Body Style:</td>
            <td>Coupe</td>
          </tr>
          <tr>
              <td>Engine Max Power (HP):</td>
              <td>612</td>
          </tr>
          <tr>
              <td>Transmission Type:</td>
              <td>Manual</td>
          </tr>
          <tr>
              <td>Top Speed (MPH):</td>
              <td>206</td>
          </tr>
          <tr>
              <td>0-100 kph (0-62mph):</td>
              <td>3.7</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br><br>
{% if page.image %}
<div class="section bg-dark">
  <div class="container">
    <h3 class="section-header">Photos</h3>
    <div class="section-content row">
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
    </div><br>
    <div class="row">
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
    </div><br>
    <div class="row">
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="section">
  <div class="container">
    <h3 class="section-header">Full Specifications</h3>
    <div class="section-content row">
      <div class="col-sm-4">
        <table class="table table-striped">
          <tbody>
            {% for spec in specs %}
            <tr>
              <td>{{ spec.label }}:</td>
              <td>{{ page[spec.field] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>