---
layout: default
---
<div id="carousel" class="carousel banner slide" data-ride="carousel" pause="false">
  <div class="container rel">
    <ol class="carousel-indicators">
        {% for photo in page.gallery limit:3 %}
        {% assign img = photo.src | remove_first: '_media/' %}
        {% if assets[img] %}
        <li{% if forloop.first == true %} class="active"{% endif %} data-target="#carousel" data-slide-to="{{ forloop.index0 }}">{% img '{{ img }}' magick:resize:90^x90 magick:gravity:center magick:crop:90x90+0+0 image_optim:optimize:1 %}</li>
        {% endif %}
        {% endfor %}
    </ol>
  </div>

  <div class="carousel-inner fh" role="listbox">
    {% for photo in page.gallery limit:3 %}
    {% assign img = photo.src | remove_first: '_media/' %}
    {% if assets[img] %}
    <div class="item img-cover img-fixed fh {% if forloop.first == true %}active{% endif %}" style="background-image:url({% img_path '{{ img }}' magick:resize:1920^x1152 magick:gravity:center magick:crop:1920x1152+0+0 image_optim:optimize:1 %});"></div>
    {% endif %}
    {% endfor %}
  </div>

  <div class="banner-content">

    <div class="submenu">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div id="submenu">
              <ul class="nav nav-pills" role="tablist">
                <li><a href="#"><i class="fa fa-chevron-up"></i> </a></li>
                <li><a href="#content"><i class="fa fa-info-circle"></i> Details</a></li>
                <li><a href="#photos"><i class="fa fa-camera"></i> Photos</a></li>
                <li><a href="#specs"><i class="fa fa-file-text-o"></i> Specifications</a></li>
                <li class="hidden"><a href="#test_drive"></a></li>
                <!--li><a href="#finance"><i class="fa fa-money"></i> Finance</a></li-->
              </ul>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <a href="#" class="btn btn-default"><i class="fa fa-share-alt"></i> Share</a>
            <a href="{{ page.pdf_url }}" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print (PDF)</a>
            <a href="#test_drive" class="btn btn-danger">Book a test drive</a>
          </div>
        </div>
      </div>
    </div>

    <div class="banner-container">
      <div class="container">
        <div class="banner-text">
          {% capture logo %}car-brands/{{ page.make_display | downcase }}.png{% endcapture %}
          {% if assets[logo] %}
          <div class="pull-left" style="line-height:61px; margin-right:20px">
            {% img '{{ logo }}' magick:resize:100x61 image_optim:optimize:1 %}
          </div>
          {% endif %}
          <div class="pull-left">
            <h1 class="h2 media-heading">{{ page.title | markdownify | strip_html }}</h1>
            <span class="h4">
              <span class="label label-primary label-lg">{% if page.price > 0 %}&pound;{{ page.price | number_format }}{% else %}Price on request{% endif %}</span> &nbsp;
              <i class="fa fa-tachometer"></i> {{ page.mileage | number_format }} miles &nbsp;
              <i class="fa fa-clock-o"></i> {{ page.model_year }}
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<!--div class="section bg-dark" id="content">
</div-->

<div class="section" id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <article class="section-content">{{ content | replace_first: '<p>', '<p class="lead">' }}</article>
      </div>
      <div class="col-sm-4 col-sm-push-1">
        <h3>Quick Specs</h3>
        <table class="table table-striped">
          <tbody>

            <tr>
              <td>Make:</td>
              <td>{{ page.make_display }}</td>
            </tr>

            <tr>
              <td>Model:</td>
              <td>{{ page.model_name }} {{ page.model_trim }}</td>
            </tr>

            <tr>
              <td>Mileage:</td>
              <td>{{ page.mileage | number_format }} miles</td>
            </tr>

            <tr>
              <td>Year:</td>
              <td>{{ page.model_year }}</td>
            </tr>

            <tr>
              <td>Transmission:</td>
              <td>{{ page.model_transmission_type }}</td>
            </tr>

            <tr>
              <td>Body:</td>
              <td>{{ page.model_body }}</td>
            </tr>

            <tr>
              <td>Fuel:</td>
              <td>{{ page.model_engine_fuel }}</td>
            </tr>

          </tbody>
        </table>
        <a class="btn btn-default btn-block" href="#specs">View full specifications</a>
      </div>
    </div>
  </div>
</div>

<div class="section well">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-fw fa-clock-o fa-3x"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading h5">Year</h4>
            <b class="h4">{{ page.model_year }}</b>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-fw fa-tachometer fa-3x"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading h5">Mileage</h4>
            <b class="h4">{{ page.mileage | number_format }}</b>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-fw fa-paint-brush fa-3x"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading h5">Colour</h4>
            <b class="h4">{{ page.colour | capitalize }}</b>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-fw fa-gbp fa-3x"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading h5">Price</h4>
            <b class="h4">{{ page.price | number_format }}</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if page.gallery %}
<div class="section bg-dark" id="photos">
  <div class="container">
    <h2 class="section-header">Photos</h2>
    <div class="section-content row gallery">
      {% assign i = 0 %}
      {% for photo in page.gallery %}
      {% assign i = i | plus: 1 %}
      {% assign img = photo.src | remove_first: '_media/' %}
      {% if assets[img] %}
      <div class="col-md-3 col-sm-4 item">
        <a style="cursor: pointer;" data-title="{{ photo.title }}" data-image="{% img_path '{{ img }}' magick:resize:868 %}">
          <figure>
            {% img '{{ img }}' magick:resize:300^x225 magick:gravity:center magick:crop:300x225+0+0 image_optim:optimize:1 class:img-responsive alt:'{{ photo.title }}' %}
            {% if photo.title %}<figcaption>{{ photo.title }}</figcaption>{% endif %}
          </figure>
        </a><br>
      </div>
      {% endif %}
      {% endfor %}
    </div><br>
  </div>
</div>
{% endif %}

<div class="section" id="specs">
  <div class="container">
    <h2 class="section-header">Full Specifications</h2>
    <div class="section-content row">
      <div class="col-sm-4">
        <h3>Overview</h3>
        <table class="table table-striped">
          <tbody>

            <tr>
              <td>Country of origin:</td>
              <td>{{ page.make_country }}</td>
            </tr>

            <tr>
              <td>Make:</td>
              <td>{{ page.make_display }}</td>
            </tr>

            <tr>
              <td>Model:</td>
              <td>{{ page.model_name }} {{ page.model_trim }}</td>
            </tr>

            <tr>
              <td>Year:</td>
              <td>{{ page.model_year }}</td>
            </tr>

            <tr>
              <td>Transmission Type:</td>
              <td>{{ page.model_transmission_type }}</td>
            </tr>

            {% if page.model_body %}
            <tr>
              <td>Body Style:</td>
              <td>{{ page.model_body }}</td>
            </tr>
            {% endif %}

            {% if page.model_engine_fuel %}
            <tr>
              <td>Fuel Type:</td>
              <td>{{ page.model_engine_fuel }}</td>
            </tr>
            {% endif %}

            {% if page.model_drive %}
            <tr>
              <td>Drive:</td>
              <td>{{ page.model_drive }}</td>
            </tr>
            {% endif %}

            {% if page.model_doors > 0 %}
            <tr>
              <td>Doors:</td>
              <td>{{ page.model_doors }}</td>
            </tr>
            {% endif %}

            {% if page.model_seats > 0 %}
            <tr>
              <td>Seats:</td>
              <td>{{ page.model_seats }}</td>
            </tr>
            {% endif %}

            {% if page.model_engine_position %}
            <tr>
              <td>Engine Location:</td>
              <td>{{ page.model_engine_position }}</td>
            </tr>
            {% endif %}

            {% if page.model_fuel_cap_l > 0 %}
            <tr>
              <td>Fuel Capacity:</td>
              <td>{{ page.model_fuel_cap_l }} l</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>

      <div class="col-sm-4">
        <h3>Performance</h3>
        <table class="table table-striped">
          <tbody>

            {% if page.model_engine_cyl %}
            <tr>
              <td width="50%">Cylinders:</td>
              <td>{{ page.model_engine_cyl }}</td>
            </tr>
            {% endif %}

            {% if page.model_engine_valves %}
            <tr>
              <td>Valves:</td>
              <td>{{ page.model_engine_valves }}</td>
            </tr>
            {% endif %}

            {% if page.model_0_to_100_kph > 0 %}
            <tr>
              <td>0-100 kph (0-62mph):</td>
              <td>{{ page.model_0_to_100_kph }}</td>
            </tr>
            {% endif %}

            {% if page.model_top_speed_mph > 0 %}
            <tr>
              <td>Top Speed:</td>
              <td>{{ page.model_top_speed_mph }} MPH</td>
            </tr>
            {% endif %}

            {% if page.model_engine_power_hp > 0 %}
            <tr>
              <td>Engine Power:</td>
              <td>
                {{ page.model_engine_power_hp }} HP
                {% if page.model_engine_power_rpm > 0 %}({{ page.model_engine_power_rpm }} RPM){% endif %}
              </td>
            </tr>
            {% endif %}

            {% if page.model_engine_torque_lbft %}
            <tr>
              <td>Engine Torque:</td>
              <td>{{ page.model_engine_torque_nm }}Nm/{{ page.model_engine_torque_lbft }}Lbs/ft</td>
            </tr>
            {% endif %}

            {% if page.model_lkm_city > 0 %}
            <tr>
              <td>Fuel Economy City:</td>
              <td>{{ page.model_lkm_city }} l/100km</td>
            </tr>
            {% endif %}

            {% if page.model_lkm_hwy > 0 %}
            <tr>
              <td>Fuel Economy HWY:</td>
              <td>{{ page.model_lkm_hwy }} l/100km</td>
            </tr>
            {% endif %}

            {% if page.model_lkm_mixed > 0 %}
            <tr>
              <td>Fuel Economy Mixed:</td>
              <td>{{ page.model_lkm_mixed }} l/100km</td>
            </tr>
            {% endif %}

          </tbody>
        </table>


        <h3>Dimensions</h3>
        <table class="table table-striped">
          <tbody>

            {% if page.model_weight_kg > 0 %}
            <tr>
              <td width="50%">Weight:</td>
              <td>{{ page.model_weight_kg }} kg</td>
            </tr>
            {% endif %}

            {% if page.model_length_mm > 0 %}
            <tr>
              <td>Length:</td>
              <td>{{ page.model_length_mm }} mm</td>
            </tr>
            {% endif %}

            {% if page.model_width_mm > 0 %}
            <tr>
              <td>Width:</td>
              <td>{{ page.model_width_mm }} mm</td>
            </tr>
            {% endif %}

            {% if page.model_height_mm > 0 %}
            <tr>
              <td>Height:</td>
              <td>{{ page.model_height_mm }} mm</td>
            </tr>
            {% endif %}

            {% if page.model_wheelbase_mm > 0 %}
            <tr>
              <td>Wheelbase:</td>
              <td>{{ page.model_wheelbase_mm }} mm</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Features</h3></div>
          <div class="panel-body">
            <ul class="list-features">
              {% for feature in page.features %}
              <li>{{ feature.feature }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section bg-primary" id="test_drive">
  <div class="container">
    <h2 class="section-header">Book a test drive</h2>
    <p class="lead">Complete this form and we'll get back to you as soon as possible to arrange a test drive.</p>
    <form role="form" action="https://send.abemedia.co.uk/5B" method="post" class="donforms">
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="title">Title *</label>
          <input type="text" class="form-control" name="title" placeholder="Enter your title" required>
        </div>
        <div class="form-group col-sm-6">
          <label for="name">Name *</label>
          <input type="text" class="form-control" name="name" placeholder="Enter your first and last name" required>
        </div>
        <div class="form-group col-sm-6">
          <label for="email">Email *</label>
          <input type="email" class="form-control" name="email" placeholder="Enter your email address" required>
        </div>
        <div class="form-group col-sm-6">
          <label for="phone">Phone *</label>
          <input type="tel" class="form-control" name="phone" placeholder="Enter your phone number" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="checkbox">
            <label>
              <input name="terms" value="true" type="checkbox" required=""> I have read and agree to the Terms &amp; Conditions of use.
            </label>
          </div>
        </div>
        <div class="col-sm-6 text-right">
          <br>
          <button type="submit" class="btn btn-danger btn-lg">Enquire now</button>
        </div>
      </div>
    </form>
    <br>
  </div>
</div>

{% assign cars = (site.cars | where: 'published', 1 | where: 'make_display', page.make_display | where_exp: 'item', 'item.id != page.id' | sort: 'order') %}
{% if cars[0] %}
<div class="section well" id="related">
  <div class="container">
    <h2 class="section-header">Related Vehicles</h2>
    <div class="container section-content text-center">
      <div class="row">
        {% for item in cars limit:3 %}
        <div class="col-sm-4">
          <a href="{{ item.url }}">
            {% assign img = item.image | remove_first: '_media/' %}
            {% if assets[img] %}
            <figure>{% img '{{ img }}' magick:resize:360^x240 magick:gravity:center magick:crop:360x240+0+0 image_optim:optimize:1 class:img-responsive alt:'{{ item.title }}' %}</figure>
            {% endif %}
            <h4>{{ item.title }}</h4>
          </a>
          <p>
            <i class="fa fa-fw fa-money"></i> &pound;{{ item.price | number_format }} &nbsp;
            <i class="fa fa-fw fa-tachometer"></i> {{ item.mileage | number_format }} miles &nbsp;
            <i class="fa fa-fw fa-clock-o"></i> {{ item.model_year }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}

<style>
  body {
    position: relative;
  }
</style>


<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel">
  <div class="modal-dialog modal-lightbox" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="galleryModalLabel"></h4>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
  <a class="left carousel-control previous" href="#galleryModal" role="button">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control next" href="#galleryModal" role="button">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>