---
layout: default
---
{% if page.image %}{% capture image %}{% assign img = page.image | remove_first: '_media/' | img: "magick:resize:1920^x1080 magick:gravity:center magick:crop:1920x1080+0+0" | split: '"' %}{{ img[1] }}{% endcapture %}{% endif %}
<div class="banner" {% if page.image %}style="background-image:url({{ image }});"{% endif %}>
  <div class="banner-content">
    <div class="banner-text">
      <div class="container rel">
        <h1>{{ page.title | markdownify | strip_html }}</h1>
        <span>&pound;{{ page.price | number_format }}</span>
      </div>
    </div>
  </div>
  <div class="submenu">
    <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div id="submenu">
          <ul class="nav nav-pills" role="tablist">
            <li><a href="#"><i class="fa fa-chevron-up"></i> </a></li>
            <li><a href="#content"><i class="fa fa-info-circle"></i> Details</a></li>
            <li><a href="#photos"><i class="fa fa-camera"></i> Photos</a></li>
            <li><a href="#specs"><i class="fa fa-file-text-o"></i> Specifications</a></li>
            <!--li><a href="#finance"><i class="fa fa-money"></i> Finance</a></li-->
          </ul>
        </div>
      </div>
      <div class="col-sm-6 text-right">
        <a href="#" class="btn btn-default"><i class="fa fa-share-alt"></i> Share</a>
        <a href="#" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
        <a href="#" class="btn btn-primary">Book a test drive</a>
      </div>
    </div>
    </div>
  </div>
  <a class="arrow-down" href="#content">
    <span class="fa fa-chevron-down"></span>
  </a>
</div>
 
<!--div class="section bg-dark" id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-fw fa-clock-o fa-3x"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading h5">Year</h4>
            <b class="h4">{{ page.model_year }}</b>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-fw fa-tachometer fa-3x"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading h5">Mileage</h4>
            <b class="h4">{{ page.mileage | number_format }}</b>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-fw fa-paint-brush fa-3x"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading h5">Colour</h4>
            <b class="h4">{{ page.colour | capitalize }}</b>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-fw fa-gbp fa-3x"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading h5">Price</h4>
            <b class="h4">{{ page.price | number_format }}</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div-->
  
<div class="section" id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <article class="section-content">{% include template/content.html %}</article>
      </div>
      <div class="col-sm-push-1 col-sm-4">
        <h3>Quick Specs</h3>
        <table class="table table-striped">
          <tbody>
            
            <tr>
              <td>Make:</td>
              <td>{{ page.make_display }}</td>
            </tr>
            
            <tr>
              <td>Model:</td>
              <td>{{ page.model_name }} {{ page.model_trim }}</td>
            </tr>
            
            <tr>
              <td>Mileage:</td>
              <td>{{ page.mileage | number_format }} miles</td>
            </tr>
            
            <tr>
              <td>Body:</td>
              <td>{{ page.model_body }}</td>
            </tr>
            
            <tr>
              <td>Transmission:</td>
              <td>{{ page.model_transmission_type }}</td>
            </tr>
            
            <tr>
              <td>Fuel:</td>
              <td>{{ page.model_engine_fuel }}</td>
            </tr>
            
          </tbody>
        </table>
        <a class="btn btn-default btn-block" href="#specs">View full specifications</a>
      </div>
    </div>
  </div>
</div>

<div class="section well">
  <div class="container">
    <h3>Features</h3>
    <ul>
      {% for feature in page.features %}
      <li>{{ feature[1].feature }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if page.image %}
<div class="section bg-dark" id="photos">
  <div class="container">
    <h3 class="section-header">Photos</h3>
    <div class="section-content row">
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
    </div><br>
    <div class="row">
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
    </div><br>
    <div class="row">
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
      <div class="col-sm-3">
        {{ page.image | remove_first: '_media/' | img: "magick:resize:300 class:'img-responsive'" }}
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="section" id="specs">
  <div class="container">
    <h3 class="section-header">Full Specifications</h3>
    <div class="section-content row">
      <div class="col-sm-6">
        <h3>Overview</h3>
        <table class="table table-striped">
          <tbody>
            
            <tr>
              <td>Country of origin:</td>
              <td>{{ page.make_country }}</td>
            </tr>
            
            <tr>
              <td>Make:</td>
              <td>{{ page.make_display }}</td>
            </tr>
            
            <tr>
              <td>Model:</td>
              <td>{{ page.model_name }} {{ page.model_trim }}</td>
            </tr>
            
            <tr>
              <td>Year:</td>
              <td>{{ page.model_year }}</td>
            </tr>
            
            <tr>
              <td>Transmission Type:</td>
              <td>{{ page.model_transmission_type }}</td>
            </tr>
            
            <tr>
              <td>Body Style:</td>
              <td>{{ page.model_body }}</td>
            </tr>
            
            <tr>
              <td>Fuel Type:</td>
              <td>{{ page.model_engine_fuel }}</td>
            </tr>
            
            <tr>
              <td>Drive:</td>
              <td>{{ page.model_drive }}</td>
            </tr>
            
            <tr>
              <td>Doors:</td>
              <td>{{ page.model_doors }}</td>
            </tr>
            
            <tr>
              <td>Seats:</td>
              <td>{{ page.model_seats }}</td>
            </tr>
            
            <tr>
              <td>Engine Location:</td>
              <td>{{ page.model_engine_position }}</td>
            </tr>
            
            {% if page.model_fuel_cap_l > 0 %}
            <tr>
              <td>Fuel Capacity:</td>
              <td>{{ page.model_fuel_cap_l }} l</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      
      <div class="col-sm-6">
        <h3>Performance</h3>
        <table class="table table-striped">
          <tbody>
            
            <tr>
              <td width="50%">Cylinders:</td>
              <td>{{ page.model_engine_cyl }}</td>
            </tr>
            
            <tr>
              <td>Valves:</td>
              <td>{{ page.model_engine_valves }}</td>
            </tr>
            
            {% if page.model_0_to_100_kph > 0 %}
            <tr>
              <td>0-100 kph (0-62mph):</td>
              <td>{{ page.model_0_to_100_kph }}</td>
            </tr>
            {% endif %}
            
            {% if page.model_top_speed_mph > 0 %}
            <tr>
              <td>Top Speed:</td>
              <td>{{ page.model_top_speed_mph }} MPH</td>
            </tr>
            {% endif %}
            
            <tr>
              <td>Engine Power:</td>
              <td>{{ page.model_engine_power_hp }} HP ({{ page.model_engine_power_rpm }} RPM)</td>
            </tr>
            
            {% if page.model_engine_torque_lbft %}
            <tr>
              <td>Engine Torque:</td>
              <td>{{ page.model_engine_torque_nm }}Nm/{{ page.model_engine_torque_lbft }}Lbs/ft</td>
            </tr>
            {% endif %}
            
            {% if page.model_lkm_city > 0 %}
            <tr>
              <td>Fuel Economy City:</td>
              <td>{{ page.model_lkm_city }} l/100km</td>
            </tr>
            {% endif %}
            
            {% if page.model_lkm_hwy > 0 %}
            <tr>
              <td>Fuel Economy HWY:</td>
              <td>{{ page.model_lkm_hwy }} l/100km</td>
            </tr>
            {% endif %}
            
            {% if page.model_lkm_mixed > 0 %}
            <tr>
              <td>Fuel Economy Mixed:</td>
              <td>{{ page.model_lkm_mixed }} l/100km</td>
            </tr>
            {% endif %}
            
          </tbody>
        </table>
        
        
        <h3>Dimensions</h3>
        <table class="table table-striped">
          <tbody>
            
            <tr>
              <td width="50%">Weight:</td>
              <td>{{ page.model_weight_kg }} kg</td>
            </tr>
            
            <tr>
              <td>Length:</td>
              <td>{{ page.model_length_mm }} mm</td>
            </tr>
            
            <tr>
              <td>Width:</td>
              <td>{{ page.model_width_mm }} mm</td>
            </tr>
            
            <tr>
              <td>Height:</td>
              <td>{{ page.model_height_mm }} mm</td>
            </tr>
            
            <tr>
              <td>Wheelbase:</td>
              <td>{{ page.model_wheelbase_mm }} mm</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
 
<div class="section well" id="related">
  <div class="container">
    <h3 class="section-header">Similar Cars</h3>
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
      </div>
    </div>
  </div>
</div>

<style>
  body {
    position: relative;
  }  
</style>