<!DOCTYPE html>
<html lang="en">
  <head>
    {% capture description %}{% if page.description %}{{ page.description }}{% elsif page.lead %}{{ page.lead | strip_html }}{% elsif page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ description | xml_escape }}" />
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% elsif page.tags %}{{ page.tags | join: ', ' }}{% else %}{{ site.keywords }}{% endif %}" />
    <meta name="author" content="{{ site.author }}" />
    <link rel="icon" href="{{ site.url }}/favicon.ico" />
    <link rel="canonical" href="{{ page.url | remove: 'index.html' | prepend: site.url }}"/>
    <link href='//fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>
    <title>{{ page.title | markdownify | strip_html }} | {{ site.title }}</title>
    {% stylesheet app %}
    <!--[if lt IE 9]>
      <script src="//cdn.jsdelivr.net/g/html5shiv@3.7.3,respond@1.4.2,selectivizr@1.0.3b"></script>
    <![endif]-->
    <meta property="og:title" content="{{ page.title | markdownify | strip_html }}" />
    <meta property="og:description" content="{{ description | xml_escape }}" />
    {% assign img_path = page.image | remove_first: '_media/' %}
    {% if assets[img_path] %}<meta property="og:image" content="{{ img_path | asset_path | prepend: site.url }}" />{% endif %}
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:locale" content="{{ site.locale }}"/>
    <meta property="og:url" content="{{ page.url | remove: 'index.html' | prepend: site.url }}" />
    {% if site.facebook_app %}<meta property="fb:app_id" content="{{ site.facebook_app }}" />{% endif %}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@{{ site.profiles.twitter | replace: '@', '' | split: '/' | last }}"/>
    <meta name="twitter:domain" content="{{ site.url }}"/>
    <meta name="twitter:creator" content="@abemedia"/>
  </head>
  <body>
  <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
  <div id="nav" class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle btn-lg" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.url }}">
          <img height="50" src="{{ 'logo.png' | asset_path }}" alt="{{site.title}}">
        </a>
      </div>
      <div class="collapse navbar-collapse">
        {% unless layout.hide_nav %}
        <ul class="nav navbar-nav">
        {% assign pages = site.pages | where: 'published', 1 | where: 'menu', 'main' | sort: 'order' %}
        {% for item in pages %}
          {% unless item.parent %}
          {% assign submenu = site.pages | where: 'published', 1 | where: 'parent', item.slug | sort: 'order' %}
          <li {% if item.slug == page.slug or page.collection == item.slug or page.app == item.slug or page.parent == item.slug %}class="active"{% endif %}>
            <a href="{{ item.url | remove: 'index.html' | prepend: site.url }}">
              {% if item.slug == 'index' %}Home{% else %}{{ item.title }}{% endif %}
            </a>
            {% if submenu %}
            <ul class="nav">
              {% for item in submenu %}
              <li {% if item.slug == page.slug or page.collection == item.slug or page.app == item.slug or page.parent == item.slug %}class="active"{% endif %}>
                <a href="{{ item.url | remove: 'index.html' | prepend: site.url }}">
                  {{ item.title }}
                </a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
        {% endunless %}
        {% endfor %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
        {% for provider in site.profiles.provider %}
          <li>
            <a href="{{ site.profiles[provider] }}" target="_blank">
              <i class="fa fa-lg fa-{{ provider }}"></i> <span class="sr-only">Follow us on {{ provider | capitalize }}</span>
            </a>
          </li>
        {% endfor %}
        </ul>
        {% endunless %}
      </div>
    </div>
  </div>
  {{content}}
  <footer class="footer">
    <div class="container small">
      <img height="50" src="{{ 'logo.png' | asset_path }}" alt="{{site.title}}" class="center-block"><br>
      <div class="row">
        <div class="col-sm-8">
          <p>&copy; {{ site.title }} {{ site.time | date: '%Y' }}
          {% assign pages = (site.pages | where: 'published', 1 | where: 'menu', 'footer' | sort: 'order') %}
          {% for item in pages %}
          {% unless item.parent %}
          &nbsp;|&nbsp; <a href="{{ item.url | remove: 'index.html' | prepend: site.url }}">{{ item.title }}</a>
          {% endunless %}
          {% endfor %}
          </p>
        </div>
        <div class="col-sm-4 text-right">
          Website by <a onclick="document.getElementById('credit').click(); return false;" href="#">ABE Media</a> <a href="http://www.abemedia.co.uk/" title="Web Design Brighton" target="_blank" id="credit" class="sr-only">Web Design Brighton</a>
        </div>
      </div>
    </div>
  </footer>
  {% javascript app %}
  {% include system/analytics %}
  {% if layout.script or page.script %}
  <script type="text/javascript" charset="utf-8">
    (function() { {{ layout.script }}{{ page.script }} })();
  </script>
  {% endif %}
</body>
</html>