---
layout: default
---
{% assign img = page.image | remove_first: '_media/' %}
{% if assets[img] %}{% capture image %}{% img_path '{{ img }}' magick:resize:1920^x1152 magick:gravity:center magick:crop:1920x1152+0+0 image_optim:optimize:1 %}{% endcapture %}{% endif %}
<div class="banner bg-dark" style="background-image:url({{ image }})">
  <div class="banner-content">
    <div class="slogan">
      <div class="container text-center text-uppercase">
        <h1>Luxury, sports &amp; prestige vehicles</h1>
        <a class="btn btn-lg btn-danger" href="/showroom.html">Browse our stock</a>
      </div>
    </div>
  </div>
  <a class="arrow-down" href="#content">
    <span class="glyphicon glyphicon-chevron-down"></span>
  </a>
</div>

<div class="section" id="content">
  <div class="container">
    <h2 class="h1 section-header text-center">Welcome to Karlsen Auto Design</h2>
    <div class="section-content text-justify-center">{{ content | replace_first: '<p>', '<p class="lead">' }}</div>
  </div>
</div>

<div class="section section-lg bg-dark cta">
  <div class="section-content container">
    <span>Thinking of starting an investment portfolio?</span> &nbsp;
    <a href="/contact.html" class="btn btn-danger btn-lg">Enquire now</a>
  </div>
</div>

{% assign cars = (site.cars | where: 'published', 1 | sort: 'order') %}
<div class="section well">
  <div class="container">
    <h2 class="section-header text-center text-uppercase">Featured Vehicles</h2>
    <div class="section-content owl-carousel owl-theme text-center" data-autoplay="false" data-items="3" data-responsive='{"0":{"items":1},"480":{"items":2},"768":{"items":3}}' data-margin="30" data-loop="true">
      {% for item in cars limit:12 %}
      <div>
        <a href="{{ item.url }}" title="{{ item.title }}">
          {% assign img = item.gallery[0].src | remove_first: '_media/' %}
          {% if assets[img] %}
          <figure>{% img '{{ img }}' magick:resize:400^x225 magick:gravity:center magick:crop:400x225+0+0 image_optim:optimize:1 class:img-responsive alt:'{{ item.title }}' %}</figure>
          {% endif %}
          <h4>{{ item.title }}</h4>
        </a>
        <p>
          <b>&pound;{{ item.price | number_format }}</b> &nbsp;
          <i class="fa fa-fw fa-tachometer"></i> {{ item.mileage | number_format }} miles &nbsp;
          <i class="fa fa-fw fa-clock-o"></i> {{ item.model_year }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="section bg-primary text-center">
  <div class="container">
    <h2 class="section-header text-uppercase">Signup to our Newsletter</h2>
    <div class="section-content">
      <p class="lead">Get privy information on our upcoming vehicles delivered right to your inbox.</p>
      <form role="form" action="https://send.abemedia.co.uk/5B" method="post" class="donforms">
        <label for="email" class="sr-only">Email *</label>
        <div class="input-group input-group-lg">
          <input type="email" class="form-control" name="email" placeholder="Enter your email address" required>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-danger">Get it now!</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>