---
layout: default
---
{% assign img = page.image | remove_first: '_media/' %}
{% if assets[img] %}{% capture image %}{% img_path '{{ img }}' magick:resize:1920^x1152 magick:gravity:center magick:crop:1920x1152+0+0 image_optim:optimize:1 %}{% endcapture %}{% endif %}
<div class="banner img-fixed" style="background-image:url({{ image }})">
  <div class="banner-content">
    <div class="slogan">
      <div class="container slogan-container">
        <div class="slogan-inner">
          <h1 class="banner-heading">Luxury, sports &amp; prestige vehicles</h1>
          <a class="btn btn-lg btn-danger" href="/showroom.html">Browse our stock</a>
        </div>
      </div>
    </div>
  </div>
  <a class="arrow-down" href="#content">
    <span class="glyphicon glyphicon-chevron-down"></span>
  </a>
</div>

<div class="section" id="content">
  <div class="container">
    <h2 class="h1 section-header text-center">Welcome to Karlsen Auto Design</h2>
    <div class="section-content text-justify-center">{% include template/content.html %}</div>
  </div>
</div>

<div class="section section-lg bg-dark cta">
  <div class="section-content container">
    <span>Thinking of starting an investment portfolio?</span> &nbsp;
    <a href="/contact.html" class="btn btn-danger btn-lg">Enquire now</a>
  </div>
</div>

{% assign cars = (site.cars | where: 'published', 1 | sort: 'order') %}
<div class="section">
  <div class="container text-center">
    <h2 class="section-header text-uppercase">Featured Vehicles</h2>
    <div class="section-content owl-carousel owl-theme" data-autoplay="true" data-items="3" data-responsive='{"0":{"items":1},"480":{"items":2},"768":{"items":3}}' data-margin="30" data-loop="true">
      {% for item in cars limit:12 %}
      <div>
        <a href="{{ item.url }}" title="{{ item.title }}">
          {% assign img = item.image | remove_first: '_media/' %}
          {% if assets[img] %}
          <figure>{% img '{{ img }}' magick:resize:360^x240 magick:gravity:center magick:crop:360x240+0+0 image_optim:optimize:1 class:img-responsive alt:'{{ item.title }}' %}</figure>
          {% endif %}
          <h4>{{ item.title }}</h4>
        </a>
        <p>
          <b>&pound;{{ item.price | number_format }}</b> &nbsp;
          <i class="fa fa-fw fa-tachometer"></i> {{ item.mileage | number_format }} miles &nbsp;
          <i class="fa fa-fw fa-clock-o"></i> {{ item.model_year }}</p>
      </div>
      {% endfor %}
    </div>
    <div class="section-content">
      <a href="/showroom.html" class="btn btn-danger">See all vehicles</a>
    </div>
  </div>
</div>

<div class="section bg-primary">
  <div class="container text-center">
    <h2 class="section-header text-uppercase">Signup to our Newsletter</h2>
    <div class="section-content">
      <p class="lead">Get privy information on our upcoming vehicles delivered right to your inbox.</p>
      <form role="form" action="https://send.abemedia.co.uk/5B" method="post" class="donforms">
        <label for="email" class="sr-only">Email *</label>
        <div class="input-group input-group-lg">
          <input type="email" class="form-control" name="email" placeholder="Enter your email address" required>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-danger">Get it now!</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

{% assign makes = (site.cars | where: 'published', 1 | group_by: 'make_display') %}
<div class="section well">
  <div class="container text-center">
    <h2 class="section-header text-uppercase">Browse by make</h2>
    <div class="section-content owl-carousel owl-theme" data-autoplay="true" data-items="3" data-responsive='{"0":{"items":3},"480":{"items":4},"768":{"items":5},"992":{"items":6},"1200":{"items":8}}' data-margin="40" data-loop="true">
        {% for make in makes %}
        {% capture logo %}car-brands/{{ make.name | downcase }}.png{% endcapture %}
        {% if assets[logo] %}
        <a href="/showroom.html#{{ make.name | downcase }}" class="img-contain" style="display: block; height:0; padding-bottom: 100%; background-image:url({% img_path '{{ logo }}' magick:resize:125x125 image_optim:optimize:1 %})">
        </a>
        {% endif %}
        {% endfor %}
      </div>
  </div>
</div>