---
layout: default
hide_nav: true
---
{% assign img = page.image | remove_first: '_media/' %}
{% if assets[img] %}
<style>
.banner {
  background-image: url({% include img_path src=img width=375 height=667 %});
}
@media (min-width: 378px) {
  .banner {
    background-image: url({% include img_path src=img width=768 height=1024 %});
  }
}
@media (min-width: 769px) {
  .banner {
    background-image: url({% include img_path src=img width=1366 height=800 %});
  }
}
@media (min-width: 1367px) {
  .banner {
    background-image: url({% include img_path src=img width=1920 height=1080 %});
  }
}
</style>
{% endif %}
<div class="banner img-fixed banner-fluid bg-dark bg-darken">
  <div class="section container">
    <h1 class="banner-heading text-center media-heading">{{ page.title }}</h1>
    <br>
    <div class="row">
      <div class="col-md-6 banner-heading">
        <ul class="list-features text-lg">
          {% for feature in page.features %}
          <li>{{ feature.feature }}</li>
          {% endfor %}
        </ul>
        <br>
        <div class="panel-body bg-darken">
          <h3 class="media-heading">{{ page.product }}</h3>
          <span class="fa-2x" style="line-height:1"><span class="fa-2x">only &pound;{{ page.price }}</span> / vehicle</span>
        </div>
      </div>
      <div class="col-md-6">
        <form role="form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="well bg-lighten">
          <legend>Contact details</legend>
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="sr-only" for="first_name">First Name *</label>
              <input type="text" class="form-control" name="first_name" placeholder="First name" required>
            </div>
            <div class="form-group col-sm-6">
              <label class="sr-only" for="last_name">Last Name *</label>
              <input type="text" class="form-control" name="last_name" placeholder="Last name" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="sr-only" for="email">Email *</label>
              <input type="email" class="form-control" name="email" placeholder="Email address" required>
            </div>
            <div class="form-group col-sm-6">
              <label class="sr-only" for="phone">Phone *</label>
              <input type="hidden" name="on0" value="phone">
              <input type="tel" class="form-control" name="os0" id="phone" placeholder="Phone number" required>
            </div>
          </div>
          <legend>Vehicle details</legend>
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="sr-only" for="make">Make *</label>
              <input type="hidden" name="on1" value="make">
              <select class="form-control" name="os1" id="make" data-placeholder="Make" data-width="100%" required>
                <option value=""></option>
                {% for make in site.data.makes %}
                <option value="{{ make.make_id }}">{{ make.make_display }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group col-sm-6">
              <label class="sr-only" for="model">Model *</label>
              <input type="hidden" name="on2" value="model">
              <input type="text" class="form-control" name="os2" id="model" placeholder="Model" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="sr-only" for="mileage">Mileage *</label>
              <input type="hidden" name="on3" value="mileage">
              <input type="text" pattern="[0-9]+" class="form-control" name="os3" id="mileage" placeholder="Mileage" title="Mileage (numbers only)" required>
            </div>
            <div class="form-group col-sm-6">
              <label class="sr-only" for="registration">Registration *</label>
              <input type="hidden" name="on4" value="registration">
              <input type="text" class="form-control" name="os4" id="registration" placeholder="Registration" required>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <div class="checkbox">
                <label>
                  <input name="terms" value="true" type="checkbox" required> I have read and agree to the Terms of use.
                </label>
              </div>
            </div>
            <div class="col-sm-4 text-right">
              <button type="submit" class="btn btn-danger btn-lg text-uppercase"><i class="fa fa-paypal"></i> Pay Now</button>

            </div>
          </div>
          <input type="hidden" name="item_name" value="{{ page.product }}">
          <input type="hidden" name="item_number" value="{{ page.slug }}">
          <input type="hidden" name="amount" value="{{ page.price }}">
          <input type="hidden" name="cmd" value="_xclick">
          <input type="hidden" name="currency_code" value="GBP">
          <input type="hidden" name="business" value="{{ page.paypal }}">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="section well">
  <div class="container text-center">
    <h3 class="section-header text-uppercase">{{ page.logosheading}}</h3>
    {% assign logos = 'autotrader,pistonheads,facebook,instagram,twitter' | split: ',' %}
    {% assign width = 0.0 %}
    {% for logo in logos %}
    {% capture img %}logos/{{ logo }}.png{% endcapture %}
    {% assign width = width | plus: assets[img].width %}
    {% endfor %}
    <div class="section-content row row-logos">
      {% for logo in logos %}
      {% capture img_path %}logos/{{ logo }}.png{% endcapture %}
      {% capture img %}{% img_path '{{ img_path }}' magick:resize:x51 %}{% endcapture %}
      {% capture img_xs %}{% img_path '{{ img_path }}' magick:resize:480x %}{% endcapture %}
      <div class="col-sm-2" style="width:{{ assets[img_path].width | times: 100 | divided_by: width }}%;">
        <img src="{{ img }}" srcset="{{ img_xs }} 480w" class="img-responsive" alt="{{ logo | capitalize }}">
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <h2 class="section-header text-uppercase text-center">{{ page.subheading }}</h2>
    <div class="section-content row text-justify-center">
      {% for item in page.walkthrough %}
      <div class="col-sm-3">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-{{ item.ico }} fa-stack-1x fa-inverse"></i>
        </span>
        <h3 class="text-center">{{ forloop.index }}. {{ item.heading }}</h3>
        <p>{{ item.text }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="section well">
  <div class="container">
    <h2 class="section-header text-uppercase text-center">Testimonials</h2>
    <div class="section-content row text-justify-center">
      {% for testimonial in page.testimonials %}
      <div class="col-sm-4">
        <p>{{ testimonial.testimonial }}</p>
        <b>{{ testimonial.person }}</b>, {{ testimonial.position }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
