---
layout: default
---
{% include modules/banner.html %}
{% if content != "" %}
<div class="section" id="content">
  <div class="container">
    <article class="section-content">{% include template/content.html %}</article>
  </div>
</div>
{% endif %}
<div class="section" id="content">
  <div class="container section-content text-center">
    {% assign cars = (site.cars | where: 'published', 1 | sort: 'order') %}
    <div class="row">
      {% for item in cars %}
      <div class="col-sm-4">
        <a href="{{ item.url }}">
          {% if item.image %}
          {% capture image %}{% assign img = item.image | remove_first: '_media/' | img: "magick:resize:400^x225 magick:gravity:center magick:crop:400x225+0+0" | split: '"' %}{{ img[1] }}{% endcapture %}
          <img src="{{image}}" alt="" class="img-responsive" />
          {% endif %}
          <h3>{{ item.title }}</h3>
        </a>
        <p>
          <i class="fa fa-fw fa-money"></i> &pound;{{ item.price | number_format }} &nbsp; 
          <i class="fa fa-fw fa-tachometer"></i> {{ item.mileage | number_format }} miles &nbsp; 
          <i class="fa fa-fw fa-clock-o"></i> {{ item.model_year }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>