  <div id="carousel" class="carousel slide fh" data-ride="carousel" pause="false">

    <div class="h1 fa-5x carousel-header">
      <div class="container">{{ page.title }}</div>
    </div>

    <!-- Wrapper for slides -->
    <div class="carousel-inner fh">
      {% capture i %}0{% endcapture %}
      {% for item in include.category %}
      {% capture image %}{% assign img = item.image | remove_first: '_media/' | img: "magick:crop:1920x1080+0+0" | split: '"' %}{{ img[1] }}{% endcapture %}
      <div class="item img-cover img-fixed fh {% if forloop.index == 0 %}active{% endif %}" style="background-image:url({{ image }})">
      </div>
      {% capture i %}{{ i | plus:1 }}{% endcapture %}
      {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    <a class="arrow-down" href="#content">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
  </div>